<html>
<head>
  <title>Smooth</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <div class="container">

    <h1 class="blurb">The Ultimate Notification Bar for all your social media</h1>

    <div id="registration">
      <div id="types">
        <table>
          <tr>
            <td><img src="img/facebook-Icon.png"></td>
            <td><img src="img/Twitter-Icon.png"></td>
          </tr></center>
          <tr>
            <td><img src="img/Tumblr-Icon.png"></td>
            <td><img src="img/Instagram-Icon.png"></td>
          </tr>
        </table>
      </div>
      <form method="post" action="/register">
        <h3 id="registered">Register Here</h3>
        <input type="text" name="name" placeholder=
        "First Name"><br>
        <input type="text" name="username"placeholder="Create username"><br>
        <input type="password" name="password" placeholder="Create password"><br>
        <input type="submit" class="button" value="Create Account">
      </form>
    </div>



  </div>

</body>
</html>