<center><h1 class="blurb">Welcome <%=@user.name%></h1></center>


<div class="notificationbar">
  <center>
    <ul id="not_bar">
      <li id="facebook" class="notbar"><a href="http://www.facebook.com"><img src="../img/facebook-icon.png"></a></li>
      <li id="twitter" class="notbar"><a href="http://www.twitter.com"><img src="../img/Twitter-Icon.png"></a></li>
      <li id="tumblr" class="notbar"><a href="http://www.tumblr.com"><img src="../img/Tumblr-Icon.png"></a></li>
      <li id="instagram" class="notbar"><a href="http://www.instagram.com"><img src="../img/Instagram-Icon.png"></a></li>
    </ul>
  </center>
</div>