<div class="container">
  <form method="post">
    <h3>Facebook Account</h3>
    <input type="text" placeholder="username" name="fb_username">
    <input type="text" placeholder="password" name="fb_password">
    <input type="submit" value="login" name="fb_submit">
  </form>
  <form method="post">
    <h3>Twitter Account</h3>
    <input type="text" placeholder="username" name="twitter_username">
    <input type="text" placeholder="password" name="twitter_password">
    <input type="submit" value="login" name="twitter_submit">
  </form>
  <form method="post">
    <h3>Tumblr Account</h3>
    <input type="text" placeholder="username" name="tumblr_username">
    <input type="text" placeholder="password" name="tumblr_password">
    <input type="submit" value="login" name="tumblr_submit">
  </form>
  <form method="post">
    <h3>Instagram Account</h3>
    <input type="text" placeholder="username" name="instagram_username">
    <input type="text" placeholder="password" name="instagram_password">
    <input type="submit" value="login" name="instagram_submit">
  </form>


</div>