@font-face {
	font-family:'Hipster Script Pro';
	src:url(http://www.e7chun.com/portfolio/fonts/HipsterScriptPro.otf);
	font-family:'Penna';
	src:url(http://www.e7chun.com/portfolio/fonts/penna.otf);
}

html {
	font-family: 'Penna', sans-serif;
}

ul {
	list-style-type: none;
}

.login_bar ul{
	float: right;
}

#registration {
	display: visible;
}

#registered {
	margin-bottom: 0.5em;
}

#not_bar{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 3em;
}

.notificationbar {
	background-size: contain;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
}

.notificationbar li {
	display: inline;
	margin-right: 1em;
	margin-top: 1em;
}

a {
	text-decoration: none;
}

#types img {
	max-width: 6em;
}

#types table {
	margin-left: 3em;
	margin-top: 2em;
}


li img {
	max-width: 7em;
}

input[type="text"]
{
    font-size: 1.2em;
}
input[type="password"]
{
    font-size: 1.2em;
}
input[type="submit"]
{
    font-size: 1.2em;
}

input::-webkit-input-placeholder {
	font-size: 1.24em;
}

#login_bar_ul input {
	color: #DBDBDB;
	border: none;
	width: 10em;
	height: 2em;
	padding-left: 0.5em;
	background: rgba(0,0,3,1);
	margin-top: 2.5em;
}

#login_bar_ul .button {
	margin-right: 2em;
	margin-bottom: 1em;
	width: 7em;
	background-color: #C0C0C0;
	color: #0A0A0A;
}

#setting {
	display: table-cell;
	margin-top: 2em;
}

#setting li{
	display: inline;
	margin-right: 2em;
	font-size: 2em;
	border-right: 1px solid #C0C0C0;
	vertical-align: center;
}

#setting li a {
	margin-top: 3em;
	color: #C0C0C0;
	padding-right: 1em;
}

form {
	float:right;
	margin-top: -1em;
}

#types {
	float:left;
}

#registration input {
	border: 4px solid #DBDBDB;
	margin-bottom: 1em;
	margin-right: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.6em;
}

#registration .button {
	border: none;
	color: white;
	background-color: #C0C0C0;
}

#logo {
	font-family: 'Hipster Script Pro', sans-serif;
	/*vertical-align: middle;*/
	color: white;
	float: left;
	position: auto;
	margin-left: 4em;
	margin-top: -0.4em;
	font-size: 4em;
	display: table-cell;
	padding-top: 0.2em;
}

.login_bar {
	height: 40px;
	background-image: url('../img/stardust.png');
	opacity: 0.9;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	display: table;
}

.blurb {
	margin-top: 2em;
	font-size: 3em;
	margin-bottom: 0em;
	color: #474747;
}

h3 {
	margin-top: 0em;
	font-size: 2em;
	color: #7F7F7F;
}

#logout {
	margin-top: 2.5em;
	margin-right: 3em;
	width: 7em;
	background-color: #C0C0C0;
	color: #0A0A0A;
}



